.top-bg {
    background-color: #eee;
    border-bottom: 1px solid #D6D6D6;
    -moz-box-shadow: 5px 2px 5px #dedcdc; /* 老的 Firefox */
    box-shadow: 5px 2px 5px #dedcdc;
}

.top-height {
    height: 30px;
    line-height: 30px;
}
.logo{
    width: 140px;
    height: 130px;
}
.logo-line{
    height: 1px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #a8a8a8;
}

.two-code{
    display: block;
    width: 90px;
    height: 86px;
    overflow: hidden;
    margin:0 auto;
}
.two-code+small{
    display: block;
    text-align: center;
}
.nav-list{

}
.nav-list a{
    color: #fff;
}
.nav-list li>a:hover{
    background-color: #038f52;
}
.mg{
    margin-top: 20px;
    margin-bottom: 20px;
   /* border: 1px solid #ededed;*/
}
.caseshow-box{
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 0;
    margin-bottom: 30px;
}
.caseshow{
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}
.imgshow img{
    margin: 0 auto;
}
.mb10{
    margin-bottom: 10px;
}
.h6{
    line-height: 34px;
}
.line47{
    line-height: 47px;
}
.h20{
    display: block;
    clear: both;
    font-size: 0px;
    overflow: hidden;
    height: 20px;
    visibility: hidden;
}
.inline{
    display: inline;
}
.bg-pulic-ash{
    background-color: #fafafa;
}